*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
padding:20px;
}

.card,
.result-card{
width:100%;
max-width:450px;
background:rgba(255,255,255,0.12);
backdrop-filter:blur(15px);
-webkit-backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.2);
border-radius:25px;
padding:35px;
color:white;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
text-align:center;
margin-bottom:10px;
font-size:32px;
}

.subtitle{
text-align:center;
margin-bottom:25px;
color:#dbeafe;
}

form{
display:flex;
flex-direction:column;
}

label{
font-size:14px;
font-weight:600;
margin-bottom:6px;
margin-top:10px;
color:white;
}

input{
width:100%;
padding:14px;
border:none;
outline:none;
border-radius:12px;
margin-bottom:10px;
font-size:15px;
}

input:focus{
box-shadow:0 0 10px rgba(255,255,255,0.5);
}

button,
.btn{
margin-top:15px;
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:linear-gradient(90deg,#06b6d4,#3b82f6);
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;
text-decoration:none;
text-align:center;
transition:0.3s;
}

button:hover,
.btn:hover{
transform:translateY(-2px);
}

.success{
border-left:6px solid #22c55e;
}

.error{
border-left:6px solid #ef4444;
}

.result-card p{
margin:12px 0;
}

.message{
margin-top:20px;
margin-bottom:20px;
line-height:1.6;
}

@media(max-width:600px){

.card,
.result-card{
padding:25px;
}

h1{
font-size:24px;
}

input{
padding:12px;
}

button,
.btn{
padding:12px;
}

}