<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Duplicate</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="result-card error">

<h1>⚠ Duplicate Record</h1>

<p>
The email or phone number
already exists in database.
</p>

<p>
Duplicate insertion blocked.
</p>

<a href="/" class="btn">
Back To Home
</a>

</div>

</body>
</html>