<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Cloud Data Validation</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="card">

<h1>☁️ Data Redundancy Removal</h1>

<p class="subtitle">
Cloud Database Validation System
</p>

<form action="/add" method="POST">

<label>Name</label>
<input
type="text"
name="name"
placeholder="Enter Full Name"
required>

<label>Email</label>
<input
type="email"
name="email"
placeholder="Enter Email Address"
required>

<label>Phone Number</label>
<input
type="text"
name="phone"
placeholder="Enter Phone Number"
required>

<button type="submit">
Validate & Store
</button>

</form>

</div>

</body>
</html>